<!--
<div class="card">
  <div class="card-header bg-info">Update category</div>
  <div class="card-body"  class="edit-form">
    <div class="submit-form">
      <form>
        <div class="form-group">
          <label for="code">Title</label>
          <input type="text" class="form-control" id="code" [(ngModel)]="currentCategorie.code" name="code"/>
        </div>
        <div class="form-group">
          <label for="nom">Description</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="currentCategorie.nom" name="nom"/>
        </div>
      <button class="btn btn-success btn-space">Update</button>
      <button (click)="retourArriere()" class="btn btn-warning btn-space">Back</button>
        </form>
    </div>
</div>
</div>
<div class="card-footer text-muted"> @ 2020 Belrose</div>
-->
