# See https://www.atlassian.com/fr/git/tutorials/saving-changes/gitignore for more about ignoring files.

credentials.cfg



###IDE  ###
.idea
**/.idea/
**/.idea/workspace.xml
**/.mvn/
**/target/
**/stock-serveur.iml

**/.idea/
**/.vscode/
**/node_modules/
**/tools/