# See https://www.atlassian.com/fr/git/tutorials/saving-changes/gitignore for more about ignoring files.
# See also https://gist.github.com/Yousha/6d8aeb70705e1aba749d8f30097ed077
credentials.cfg

###IDE  ###
.idea
**/.idea/
**/.idea/workspace.xml
**/.mvn/
**/target/
**/stock-serveur.iml

**/.idea/
**/.vscode/
**/node_modules/
**/tools/