<hr *ngIf="!currentArticle">
<h5 *ngIf="!currentArticle" class="card-title"> Artcles</h5>
<hr *ngIf="!currentArticle">
<div class="card">
  <div class="card-header bg-info">
    <div *ngIf="currentArticle">Update article</div>
    <div *ngIf="!currentArticle">
      <a  class="btn btn-info" role="button"  (click)="getAllArticles()" routerLinkActive="active">List</a>
      <a  href="/articles/add" (click)="getAllCategories()" class="btn btn-info" role="button" routerLink="add">Add</a>
      <a  href="/articles" class="btn btn-info" role="button" routerLink="articles">Import</a>
      <a  href="/articles" class="btn btn-info" role="button" routerLink="articles">Export</a>
    </div>
  </div>
  <div class="card-body">
    <div class="list row" *ngIf="!currentArticle">
      <div class="col-md-6" *ngIf="articles">
        <div class="input-group mb-3">
          <input  type="text"  class="form-control" (keyup)="searchTitle()"  placeholder="Search by name" [(ngModel)]="nom"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()"> Search</button>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead class="bg-secondary">
        <tr>
          <th>Num</th>
          <th>Nom</th>
          <th>Prix d'achat</th>
          <th>Prix de vente</th>
          <th>Quantité</th>
          <th *ngIf="!article_details">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let article of articles;let i= index">
          <td>{{i+1}}</td>
          <td>{{article.nom}}</td>
          <td>{{article.prixAchat}}</td>
          <td>{{article.prixVente}}</td>
          <td>{{article.quantite}}</td>
          <td *ngIf="!article_details">
            <button type="button" class="btn btn-info btn-space" (click)="detailsArticle(article)">Details</button>
            <button type="button" class="btn btn-info btn-space" (click)="editArticle(article.id)">Edit</button>
            <button type="button" class="btn btn-danger btn-space" (click)="deleteArticle(article.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="article_details">
        <hr>
        Details sur l'article {{article_details.nom|uppercase }}
        <hr>
        <table class="table table-borderless">
          <tbody>
          <tr>
            <th>Nom : </th>
            <td>{{article_details.nom}}</td>
          </tr>
          <tr>
            <th>Prix d'achat : </th>
            <td>{{article_details.prixAchat}}</td>
          </tr>
          <tr>
            <th>Prix de vente : </th>
            <td>{{article_details.prixVente}}</td>
          </tr>
          <tr>
            <th>Quantité : </th>
            <td>{{article_details.quantite}}</td>
          </tr>
          <tr>
            <th>Liste des catégories : </th>
            <td>
              <ol *ngFor="let categorie of listCategorieOfArticle">
                <li >{{categorie.nom}}</li>
              </ol>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--  <a class="btn btn-info"> Belrose 2020</a>-->
<div *ngIf="articles" class="card-footer text-muted">@2020 Belrose</div>


