<div class="row m-3">
    <div class=" card col-md-4 text-center mr-4">
        <div class="col">
            <div class="mt-3 mb-3">
                <img src="assets/article.png" class="rounded-circle" width="200px" height="200px" />
            </div>
            <div class="mb-3 ">
                <h2>Nom prenom</h2>
                <small class="form-text text-muted">Adresse, ville, 12345</small>
            </div>
            <div class="col mb-3 p-0">
                <button type="button" class="btn btn-primary mr-3"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
                <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()"><i class="fas fa-lock"></i>&nbsp;Changer le mot de passe</button>
            </div>
        </div>
    </div>
    <div class=" card col-md-7">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Nom complet</th>
                    <td>Nom prenom</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>adresse@email.com</td>
                </tr>
                <tr>
                    <th scope="row">Telephone</th>
                    <td>023756156145</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>Adresse,Ville, 12345, Pays</td>
                </tr>
                <tr>
                    <th scope="row">Entreprise</th>
                    <td>Nom entreprise</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>