<div class="row mb-1 mr-0 custom-border">
  <!-- Détails article -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row text-center">
      <div class="col-md-11">12.12.2012</div>
    </div>
  </div>

  <!-- Détails categorie -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>193</h5>
      </div>
    </div>
  </div>

  <!-- Détails categorie -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="col-md-3 mt-1 mb-1 text-center">
    <div class="row ">
        <h5>COMMANDE CLIENT</h5>
    </div>
  </div> 
</div>

 