<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center"> <h3>Se connecter</h3></div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Adresse email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="form-floating d-flex justify-content-between">
                <a [routerLink]="['/inscrire']" class="btn btn-link">S'inscrire</a>
                <button type="button" class="btn btn-primary"><i class="fas fa-check"></i> Se connecter</button>
            </div>
        </div>
    </div>

</div>
 