<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center">
        <img src="assets/article.png" width="100px" height="100px" />
    </div>

    <!-- Détails article -->
    <div class="col-md-5 custom-border-right mt-1 mb-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-info-circle blue-color"></i>
                </div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-info-circle blue-color"></i>
                </div>
                <div class="col-md-11">Prenom</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-phone-square-alt blue-color"></i>
                </div>
                <div class="col-md-11">00237 00 00 00 00</div>
            </div>
        </div>
    </div>

    <!-- Détails categorie -->
    <div class="col-md-3 custom-border-right mt-1 mb-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
                <div class="col-md-11">Adresse 1/ Adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-map-marker-alt blue-color"></i>
                </div>
                <div class="col-md-11">12345 Ville</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-globe-africa blue-color"></i>
                </div>
                <div class="col-md-11">Pays</div>
            </div>
        </div>
    </div>

    <!-- Boutons d'action -->
    <div class="col-md-3 mt-1 mb-1">
        <div class="row">
            <div class="col-md'4">
                <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
          <i class="far fa-trash-alt"></i>&nbsp;Supprimer
        </button>
            </div>
            <div class="col-md'4">
                <button type="button" class="btn btn-link">
          <i class="fas fa-list-ul"></i>&nbsp;Détails
        </button>
            </div>
        </div>
    </div>
</div>