<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center"> <h3>S'inscrire</h3></div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="nom">
                <label for="floatingInput">Nom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="prenom">
                <label for="floatingInput">Prénom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="genre">
                <label for="floatingInput">Genre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="telephone">
                <label for="floatingInput">Téléphone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="codePostale">
                <label for="floatingInput">Code postale</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="rue">
                <label for="floatingInput">Rue</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="ville">
                <label for="floatingInput">Ville</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="pays">
                <label for="floatingInput">Pays</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="MotDePasse">
                <label for="floatingInput">Mot de passe</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="ConfirmerMotDePasse">
                <label for="floatingInput">Confirmer mot de passe</label>
            </div>
            <div class="form-floating d-flex justify-content-between">
                <a [routerLink]="['/login']" class="btn btn-link"> Se connecter</a>
                <button type="button" class="btn btn-primary"><i class="fas fa-check"></i> S'inscrire</button>
            </div>
        </div>
    </div>

</div>