<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Liste des articles</h1>
        </div>
        <div class="col-md-4 text-right">
            <app-bouton-action (clickEvent)="nouvelArticle()"></app-bouton-action>
        </div>
    </div>
    <div card class="col m-3">
        <app-detail-article *ngFor="let article of listeArticle" [articleDto]="article"></app-detail-article>
    <div class="row mb-3">
        <div class="col-md-12 text-center" *ngIf="listeArticle.length>0">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>
