<div class="row mb-1 mr-0 custom-border">
    <!-- Détails article -->
    <div class="col-md-3 custom-border-right mt-1 mb-1">
        <div class="row text-center">
            <div class="col-md-11">
                Code-article
            </div>
        </div>
    </div>

    <div class="col-md-3 custom-border-right mt-1 mb-1">
        <div class="row">
            <div class="col-md-12 text-center">
                Désignation article
            </div>
        </div>
    </div>

    <!-- Total commande -->
    <div class="col-md-2 mt-1 mb-1 custom-border-right text-center">
        <div class="row ">
            <div class="col-md-12 text-center">
                6
            </div>
        </div>
    </div>

    <!-- Prix unitaire commande -->
    <div class="col-md-2 custom-border-right mt-1 mb-1">
        <div class="row">
            <div class="col-md-12 text-center">
                12.6
            </div>
        </div>
    </div>

    <!-- Prix total commande -->
    <div class="col-md-2 mt-1 mb-1 border-righ  text-center">
        <div class="row ">
            <div class="col-md-12 text-center">
                78.3
            </div>
        </div>
    </div>
</div>