<div class="card">
  <div class="card-header bg-info">New category</div>
  <div class="card-body">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" class="form-control" id="code" required [(ngModel)]="categorie.code" name="code"/>
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input class="form-control" id="nom" required [(ngModel)]="categorie.nom" name="nom"/>
        </div>
        <button (click)="saveCategorie()" class="btn btn-success btn-space">Save</button>
        <button (click)="retourArriere()" class="btn btn-warning btn-space">Back</button>
      </div>

      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success btn-space" (click)="newCategorie()">Add</button>
        <button (click)="retourArriere()" class="btn btn-warning">Back</button>
      </div>
    </div>
  </div>
</div>
  <div class="card-footer text-muted">Belrose 2020</div>

